## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = r'D:\ML100DDays\data'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: D:\ML100DDays\data\application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [4]:
rc = app_train.shape
print('資料的row:\t{}\n資料的column:\t{}'.format(rc[0],rc[1]))

資料的row:	307511
資料的column:	122

#### 列出所有欄位

In [5]:
app_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

#### 截取部分資料

In [6]:
print('取得第10筆至第20筆資料')
print(app_train[9:20])
print('\n取得第1欄至第5欄資料')
print(app_train.iloc[:,0:5])

取得第10筆至第20筆資料
    SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
9       100012       0    Revolving loans           M            N
10      100014       0         Cash loans           F            N
11      100015       0         Cash loans           F            N
12      100016       0         Cash loans           F            N
13      100017       0         Cash loans           M            Y
14      100018       0         Cash loans           F            N
15      100019       0         Cash loans           M            Y
16      100020       0         Cash loans           M            N
17      100021       0    Revolving loans           F            N
18      100022       0    Revolving loans           F            N
19      100023       0         Cash loans           F            N

   FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  \
9                Y             0        135000.000    405000.0      20250.0
10               Y             1        112500.000    652500.0      21177.0
11               Y             0         38419.155    148365.0      10678.5
12               Y             0         67500.000     80865.0       5881.5
13               N             1        225000.000    918468.0      28966.5
14               Y             0        189000.000    773680.5      32778.0
15               Y             0        157500.000    299772.0      20160.0
16               N             0        108000.000    509602.5      26149.5
17               Y             1         81000.000    270000.0      13500.0
18               Y             0        112500.000    157500.0       7875.0
19               Y             1         90000.000    544491.0      17563.5

    ...  FLAG_DOCUMENT_18 FLAG_DOCUMENT_19 FLAG_DOCUMENT_20 FLAG_DOCUMENT_21  \
9   ...                 0                0                0                0
10  ...                 0                0                0                0
11  ...                 0                0                0                0
12  ...                 0                0                0                0
13  ...                 0                0                0                0
14  ...                 0                0                0                0
15  ...                 0                0                0                0
16  ...                 0                0                0                0
17  ...                 0                0                0                0
18  ...                 0                0                0                0
19  ...                 0                0                0                0

   AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
9                         NaN                       NaN
10                        0.0                       0.0
11                        0.0                       0.0
12                        0.0                       0.0
13                        0.0                       0.0
14                        NaN                       NaN
15                        0.0                       0.0
16                        0.0                       0.0
17                        NaN                       NaN
18                        0.0                       0.0
19                        0.0                       0.0

    AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
9                          NaN                        NaN
10                         0.0                        1.0
11                         0.0                        0.0
12                         0.0                        1.0
13                         0.0                        0.0
14                         NaN                        NaN
15                         0.0                        0.0
16                         0.0                        0.0
17                         NaN                        NaN
18                         0.0                        0.0
19                         0.0                        0.0

    AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR
9                         NaN                         NaN
10                        0.0                         0.0
11                        0.0                         2.0
12                        0.0                         0.0
13                        0.0                         1.0
14                        NaN                         NaN
15                        0.0                         1.0
16                        1.0                         0.0
17                        NaN                         NaN
18                        0.0                         0.0
19                        0.0                         2.0

[11 rows x 122 columns]

取得第1欄至第5欄資料
        SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR
0           100002       1         Cash loans           M            N
1           100003       0         Cash loans           F            N
2           100004       0    Revolving loans           M            Y
3           100006       0         Cash loans           F            N
4           100007       0         Cash loans           M            N
...            ...     ...                ...         ...          ...
307506      456251       0         Cash loans           M            N
307507      456252       0         Cash loans           F            N
307508      456253       0         Cash loans           F            N
307509      456254       1         Cash loans           F            N
307510      456255       0         Cash loans           F            N

[307511 rows x 5 columns]

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子