# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'國家': ['A國','B國','C國','D國','E國'],
        '人口': list(np.random.randint(5000,50000,5))}
data_1 = pd.DataFrame(data)

In [3]:
data_1

   國家     人口
0  A國  14679
1  B國  28453
2  C國  22335
3  D國  32261
4  E國  15724

In [4]:
max_po = data_1['人口'].idxmax()
print('人口最多國家')
data_1.loc[max_po,:]

人口最多國家

國家       D國
人口    32261
Name: 3, dtype: object